@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bg-header{
    background-color: #ffffff;
}
.boton-cita{
    text-decoration: none;
    color: #ffffff;
}
.cursor{
    cursor: pointer;
}
.boton{
    width: 300px;
    color: #ffffff;
    background-color: #4E4259;
    border-style: none;
    opacity: .5;
    padding: 6px;

}
footer{
    background-color: #88568C;
}
