<%- include("./template/cabecera", {tituloWeb: 'Pagina de contacto'}) %>
<div class="container">
  <h1 class="text-center text-white bg-dark my-4 p-2"><%= tituloContacto %></h1>
  <%- include("template/form") %>
</div>
<%- include("template/footer") %>
