<%- include("./template/cabecera", {tituloWeb: 'Crear nuevo usuario'}) %>

 
 <div class="container">
    <h1 class="text-center text-white bg-dark my-4 p-2">Crear usuario</h1>
    <form action="/usuarios" class="my-2" method="POST">
        <input 
            type="text"
            placeholder="Ingrese Nombre"
            class="form-control my-2"
            name="nombre"
        >
    
        <input 
            type="email"
            placeholder="Ingrese correo"
            class="form-control my-2"
            name="correo"
        >

        <input 
            type="text"
            placeholder="Ingrese  rol"
            class="form-control my-2"
            name="rol"
        >

        <button
            type="submit"
            class="btn btn-dark btn-block"
        >
            Agregar
        </button>

        <a href="/usuarios" class="btn btn-dark btn-block my-2">
            Volver a usuarios
          </a>
    </form>
 </div>

    
<%- include("template/footer") %>