<%- include("./template/cabecera", {tituloWeb: 'Pagina de servicios'}) %>

<h1 class="text-primary text-center mt-3"><%= tituloServicios %></h1>
<%- include("template/card") %> <%- include("template/footer") %>
